[submodule "service-gateway"]
	path = service-gateway
	url = https://github.com/darvera/service-gateway.git
[submodule "service-eureka"]
	path = service-eureka
	url = https://github.com/darvera/service-eureka.git
[submodule "service-cloudserver"]
	path = service-cloudserver
	url = https://github.com/darvera/service-cloudserver.git
[submodule "serviceclient"]
	path = serviceclient
	url = https://github.com/darvera/serviceclient.git
[submodule "serviceproduct"]
	path = serviceproduct
	url = https://github.com/darvera/serviceproduct
[submodule "servicetransac"]
	path = servicetransac
	url = https://github.com/darvera/servicetransac.git
[submodule "service-product-reac"]
	path = service-product-reac
	url = git@github.com:darvera/service-product-reac.git
[submodule "service-client-reac"]
	path = service-client-reac
	url = git@github.com:darvera/service-client-reac.git
[submodule "service-kafka"]
	path = service-kafka
	url = git@github.com:darvera/service-kafka.git
